@using Core.Entities;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ShippingItem
@{
	ViewData["Title"] = "Created";
}

<div class="col-6">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Create Shippind</h4>
			<form class="forms-sample" method="post">

				<div class="form-group">
					<label>Image</label>
					<input asp-for="Image" class="form-control" placeholder="Image">
					<span class="text-danger" asp-validation-for="Image"></span>
				</div>

				<div class="form-group">

					<label>Title</label>
					<input asp-for="Title" class="form-control" placeholder="Title">
					<span class="text-danger" asp-validation-for="Title"></span>
				</div>

				<div class="form-group">
					<label>Description</label>
					<input asp-for="Description" class="form-control" placeholder="Description">
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>

				<button type="submit" class="btn btn-primary mr-2">Submit</button>
				<button class="btn btn-light">Cancel</button>

			</form>
		</div>
	</div>
</div>