@using Core.Entities;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ShippingItem
@{
	ViewData["Title"] = "Update";
}

<div class="col-6">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Update Shippind</h4>
			<form class="forms-sample formupdate" method="post">

				<div class="form-group">
					<label>Image</label>
					<img src="~/assets/images/website-images/@Model.Image" />
					<input asp-for="Image" class="form-control" placeholder="Image">
					<span class="text-danger" asp-validation-for="Image"></span>
				</div>

				<div class="form-group">

					<label>Title</label>
					<input asp-for="Title" class="form-control" placeholder="Title">
					<span class="text-danger" asp-validation-for="Title"></span>
				</div>

				<div class="form-group">
					<label>Description</label>
					<input asp-for="Description" class="form-control" placeholder="Description">
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>

				<a  class="btn btn-primary mr-2 updatebtn">Submit</a>
				<button class="btn btn-light">Cancel</button>

			</form>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

	$(function ($) {
		$('.updatebtn').on('click', function () {
			Swal.fire({
				title: 'Are you sure?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, Update it!'
			}).then((result) => {
				if (result.isConfirmed) {
					$(".formupdate").submit();
				}
			});
		});
	});
</script>